{% extends "base.html" %}

{% block content %}
<h1>Selected: </h1>

<div class="flex flex-wrap">

    <div class="flex flex-wrap">

<div class="w-33 pa3">
    <h2>{{ habit.habit_name}}</h2>

    <div class="flex">
        <div class="pr2"></div>
        <div>Target amount: {{ habit.target }} {{ habit.unit }}</div>

    {% for entry in habit.dailyrecords.all %}

        <h3> Test {{ dailyrecord.action_number }} </h3>
    {% endfor %}

    <a href="{% url 'add_entry' habit_pk=habit.pk %}">Add entry</a>


    
<br>    
<p><a href="{% url 'list_habits' %}"> Back To View All Habits</a></p>
<br>
<a href="{% url 'edit_habit' pk=user.pk %}">Edit Habit</a>
<br>    
<a href="{% url 'delete_habit' pk=user.pk %}">Delete Habit</a>

    </div>
</div>  

{% endblock %}