{% extends "base.html" %}

{% block content %}
<h1>All Habits</h1>
<p> <a href="{% url 'auth_logout' %}">Log Out</a></p>

<br>
<p> <a href="{% url 'add_habit' %}">Add Habit To Track</a></p>

<div class="flex flex-wrap">
    {% for habit in habits %}
        <div class="w-33 pa3">
            <h2><a href="{% url 'habit_detail' pk=habit.pk %}">{{ habit.habit_name}}</a></h2>

    {% if habit.habit_list %}
        <div class="flex">
            <div class="pr2"></div>
            <div>{{ habit.habit_list }}</div>
        </div>
    {% endif %}

    <p>
        <div class="options">

            <a href="{% url 'edit_habit' pk=habit.pk %}">Edit Habit</a>
            <br>    
            <a href="{% url 'delete_habit' pk=habit.pk %}">Delete Habit</a>
        </div>
        
    </p>
    </div>
{% endfor %}
</div>  
{% endblock %}