{% extends "base.html" %}

{% block content %}
<h1>All Habits for {{ user.username }}</h1>
<p> <a href="{% url 'auth_logout' %}">Log Out</a></p>

<br>
<p> <a href="{% url 'add_habit' %}">Add Habit To Track</a></p>


<p>Current Habits</p>
<div class="flex flex-wrap">
    {% for habit in user.habits.all %}
        <div class="w-33 pa3">
            <h2><a href="{% url 'habit_detail' pk=habit.pk %}">{{ habit.habit_name }}</a></h2>

    {% endfor %}
    <p>
        <div class="options">

            <a href="{% url 'edit_habit' pk=user.pk %}">Edit Habit</a>
            <br>    
            <a href="{% url 'delete_habit' pk=user.pk %}">Delete Habit</a>
        </div>
        
    </p>
    </div>
{% endblock %}