{% extends "base.html" %}

{% block content %}
<h1>All Habits for {{ user.username }}</h1>
<p> <a href="{% url 'auth_logout' %}">Log Out</a></p>

<br>
<p> <a href="{% url 'add_habit' %}">Add Habit To Track</a></p>
<a href="{% url 'habit_detail' pk=user.pk %}">track</a>
<p>{{ user.habits }}</p>
<p>{{ habit.unit }}</p>

<div class="flex flex-wrap">
    {% for habit_list in habit %}
        <div class="w-33 pa3">
            <h2><a href="{% url 'habit_detail' pk=user.pk %}">{{ habit_list.habit_name }}</a></h2>
                <p>Test</p>
    {% if habit.habit_name %}
        <div class="flex">
            <div class="pr2"></div>
            <div>{{ habit.habit_name }}</div>
        </div>
    {% endif %}
    {% endfor %}
    <p>
        <div class="options">

            <a href="{% url 'edit_habit' pk=user.pk %}">Edit Habit</a>
            <br>    
            <a href="{% url 'delete_habit' pk=user.pk %}">Delete Habit</a>
        </div>
        
    </p>
    </div>
{% endblock %}